@font-face{
  font-family: 'iconfont';
  src: url('./iconfont.eot');
  src: url('./iconfont.eot') format('embedded-opentype'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype'),
       url('./iconfont.svg') format('svg');
}
.font{
  font-family: "iconfont"!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
